RandomSeed1SequenceStart=0
RandomSeed2SequenceStart=1
NumberofJobs=300
BeamEnergy=8.0
IncidentEnergies=8.0 7.8 7.6 7.4 7.2 7.0 6.8 6.6 6.4 6.2 6.0 5.8 5.4 5.0 4.5 4.0 3.5 3.0 2.0
APrimeMass=0.001
NumberOfEvents=10000
PhysicsProcess=signal_W_noDecay
SampleId=8GeV-W-noDecay-Ap0.001GeV
Scope=mc23
IsEventLibrary=True
RunTimeEnvironment=LDMX-MadGraph
SimExecutable=ldmxMadGraph.sh
JobWallTime=300
JobMemory=2
JobTemplate=ldmxMadgraph-dummy.py.tpl
BatchID=Ap0.001GeV
FinalOutputDestination=SLAC_GRIDFTP
