RandomSeed1SequenceStart=10001
RandomSeed2SequenceStart=20001
NumberofJobs=5000
DetectorVersion=14-8gev
BeamEnergy=8.0
ElectronNumber=1
PhysicsProcess=ecal_photonuclear
SampleId=v14-8GeV-1e-ecal_photonuclear
Scope=mc24
FileName=simoutput.root
FieldMap=BmapCorrected3D_13k_unfolded_scaled_1.15384615385.dat
IsRecon=Yes
IsTriggerSkim=No
LdmxImage=LDMX_pro-3.3.3.sif
SimExecutable=ldmxsim.sh
JobWallTime=300
JobMemory=2
JobTemplate=ldmxjob_ecalPN_v3.3.3.py.tpl
BatchID=v3.3.3_ecalPN-batch2
FinalOutputDestination=LUND_GRIDFTP
