RandomSeed1SequenceStart=0
RandomSeed2SequenceStart=1
NumberofJobs=1
BeamEnergy=8.0
DetectorVersion=14-8gev
ElectronNumber=1
FileName=simoutput.root
FieldMap=BmapCorrected3D_13k_unfolded_scaled_1.15384615385.dat
IsRecon=Yes
IsEventLibrary=False
NumberOfEvents=20000
PhysicsProcess=signal_W_noDecay_sim
SampleId=8GeV-W-noDecay-Ap0.001GeV
Scope=mc23
InputDataset=mc23:Ap0.001GeV
LdmxImage=LDMX_pro-3.3.2.sif
SimExecutable=ldmxsim.sh
JobWallTime=300
JobMemory=2
JobTemplate=ldmxjob_1e_signal_v3.3.2.py.tpl
BatchID=Ap0.001GeV_sim
FinalOutputDestination=SLAC_GRIDFTP
