RandomSeed1SequenceStart=1
RandomSeed2SequenceStart=10001
NumberofJobs=5000
DetectorVersion=14-8gev
BeamEnergy=8.0
ElectronNumber=1
PhysicsProcess=ecal_photonuclear_kaon
SampleId=v14-8GeV-1e-ecal_photonuclear_kaon
Scope=mc24
FileName=simoutput.root
FieldMap=BmapCorrected3D_13k_unfolded_scaled_1.15384615385.dat
IsRecon=Yes
IsTriggerSkim=Yes
LdmxImage=LDMX_pro-3.3.3.sif
SimExecutable=ldmxsim.sh
JobWallTime=900
JobMemory=2
JobTemplate=ldmxjob_kaon_v3.3.3.py.tpl
BatchID=v3.3.3_kaon-batch1
FinalOutputDestination=SLAC_GRIDFTP
