RandomSeed1SequenceStart=1180001
RandomSeed2SequenceStart=1185000
NumberofJobs=5000
DetectorVersion=12
BeamEnergy=4.0
ElectronNumber=1
PhysicsProcess=ecal_photonuclear
SampleId=v12-4GeV-1e-ecal_photonuclear
Scope=mc20
FileName=simoutput.root
FieldMap=BmapCorrected3D_13k_unfolded_scaled_1.15384615385.dat
IsRecon=No
RunTimeEnvironment=LDMX-2.2.1
JobWallTime=600
JobMemory=2
JobTemplate=ldmxjob-2.2.1-sim.py.tpl
BatchID=v2.2.1-batch19
FinalOutputDestination=SLAC_GRIDFTP
