RandomSeed1SequenceStart=1
RandomSeed2SequenceStart=1001
NumberofJobs=1000
DetectorVersion=12
BeamEnergy=4.0
ElectronNumber=1
PhysicsProcess=ecal_photonuclear
SampleId=v12-4GeV-1e-ecal_photonuclear
Scope=test-v2.1
FileName=output.root
FieldMap=BmapCorrected3D_13k_unfolded_scaled_1.15384615385.dat
IsRecon=yes
RunTimeEnvironment=LDMX-2.1.0
JobWallTime=400
JobMemory=2
JobTemplate=ldmxjob.py.tpl
BatchID=v2.1test-subrun1-2020-07-03
