DetectorVersion=9
BeamEnergy=8.0
ElectronNumber=1
PhysicsProcess=target_gammamumu
SampleId=v9-8GeV-1e-target_gammamumu
Scope=mc20
FileName=simoutput.root
FieldMap=BmapCorrected3D_13k_unfolded_scaled_1.15384615385.dat
IsRecon=Yes
IsTriggerSkim=Yes
RunTimeEnvironment=LDMX-1.7.1
JobWallTime=60
JobMemory=2
JobTemplate=ldmxjob-reco-targetGammaMuMu_8gev-1.7.1_tskim.py.tpl
BatchID=v1.7.1_target_gammamumu_8gev_reco-batch22
FinalOutputDestination=LUND_GRIDFTP
SimExecutable=ldmxreco_v1.7.sh
InputDataset=mc20:v1.7.1_target_gammamumu-batch22
InputFilesPerJob=1