RandomSeed1SequenceStart=30001
RandomSeed2SequenceStart=35001
NumberofJobs=5000
NumberOfEvents=4000000
DetectorVersion=9
BeamEnergy=8.0
ElectronNumber=1
PhysicsProcess=ecal_gammamumu
SampleId=v9-8GeV-1e-ecal_gammamumu
Scope=validation
FileName=simoutput.root
FieldMap=BmapCorrected3D_13k_unfolded_scaled_1.15384615385.dat
IsRecon=no
RunTimeEnvironment=LDMX-1.7.1
JobWallTime=200
JobMemory=2
JobTemplate=ldmxsim_ecal_gammamumu_8gev.mac.template
SimExecutable=ldmxsim_v1.7.sh
BatchID=v1.7.1_ecal_gammamumu-batch4
FinalOutputDestination=LUND_GRIDFTP
