RandomSeed1SequenceStart=4
RandomSeed2SequenceStart=15
NumberofJobs=10
NumberOfEvents=1000000
DetectorVersion=9
BeamEnergy=4.0
ElectronNumber=1
PhysicsProcess=ecal_photonuclear
SampleId=v9-4GeV-1e-ecal_photonuclear
Scope=validation
FileName=simoutput.root
FieldMap=BmapCorrected3D_13k_unfolded_scaled_1.15384615385.dat
IsRecon=no
RunTimeEnvironment=LDMX-1.7.1
JobWallTime=200
JobMemory=2
JobTemplate=ldmxsim_ecal_photonuclear_4gev.mac.template
SimExecutable=ldmxsim_v1.7.sh
BatchID=v1.7.1_ecal_photonuclear-test
FinalOutputDestination=LUND_GRIDFTP
