RandomSeed1SequenceStart=1000001
RandomSeed2SequenceStart=1100001
NumberofJobs=100000
DetectorVersion=9
BeamEnergy=8.0
ElectronNumber=1
PhysicsProcess=target_photonuclear
SampleId=v9-8GeV-1e-target_photonuclear
Scope=mc20
FileName=simoutput.root
FieldMap=BmapCorrected3D_13k_unfolded_scaled_1.15384615385.dat
IsRecon=no
RunTimeEnvironment=LDMX-1.7.0
JobWallTime=60
JobMemory=2.25
MacTemplate=ldmxsim_targetPN.mac.template
BatchID=1Mtest-subrun6-2020-05-13
