DetectorVersion=9
BeamEnergy=8.0
ElectronNumber=1
PhysicsProcess=ecal_gammamumu
SampleId=v9-8GeV-1e-ecal_gammamumu
Scope=validation
FileName=simoutput.root
FieldMap=BmapCorrected3D_13k_unfolded_scaled_1.15384615385.dat
IsRecon=Yes
IsTriggerSkim=Yes
RunTimeEnvironment=LDMX-1.7.1
JobWallTime=60
JobMemory=2
JobTemplate=ldmxjob-reco-targetPN-1.7.1_tskim.py.tpl
BatchID=v1.7.1_ecal_gammamumu_reco-batch4
FinalOutputDestination=LUND_GRIDFTP
SimExecutable=ldmxreco_v1.7.sh
InputDataset=validation:v1.7.1_ecal_gammamumu-batch4
InputFilesPerJob=1