DockerRepo=ldmx/pro
DockerTag=v3.3.2
ROOTversion=6.22.08
G4version=10.2.3_v0.5
OSname=UBUNTU
OSversion=22.04
ONNXversion=1.15.0
XERCESversion=3.2.4
Scope=wrongScope
FileName=LDMX_pro-3.3.2
IsRecon=No
IsImage=Yes
SimExecutable=ldmxBuildImage.sh
NumberofJobs=1
JobWallTime=250
JobMemory=4
JobTemplate=ldmxBuildImage-empty.py.tpl
BatchID=v3.3.2_image
SampleID=prodimages
FinalOutputDestination=SLAC_GRIDFTP
