DockerRepo=ldmx/pro
DockerTag=v3.2.3
ROOTversion=6.22.00
G4version=10.2.3_v0.4
OSname=UBUNTU
OSversion=18.04
ONNXversion=1.3.0
XERCESversion=3.2.3
Scope=wrongScope
FileName=LDMX_pro-3.2.3
IsRecon=No
IsImage=Yes
SimExecutable=ldmxBuildImage.sh
NumberofJobs=1
JobWallTime=250
JobMemory=4
JobTemplate=ldmxBuildImage-empty.py.tpl
BatchID=v3.2.3_image
SampleID=prodimages
FinalOutputDestination=SLAC_GRIDFTP
