RandomSeed1SequenceStart=0
RandomSeed2SequenceStart=1
NumberofJobs=200
BeamEnergy=4.0
DetectorVersion=12
ElectronNumber=1
FileName=simoutput.root
FieldMap=BmapCorrected3D_13k_unfolded_scaled_1.15384615385.dat
IsRecon=Yes
IsEventLibrary=False
NumberOfEvents=10000
PhysicsProcess=signal_W_noDecay_sim
SampleId=4GeV-W-noDecay-Ap0.001GeV
Scope=mc21
InputDataset=mc21:Ap0.001GeV
RunTimeEnvironment=LDMX-3.0.0
SimExecutable=ldmxsim.sh
JobWallTime=100
JobMemory=2
JobTemplate=ldmxjob_signal_v3.0.0.py.tpl
BatchID=Ap0.001GeV-sim
FinalOutputDestination=SLAC_GRIDFTP
