RandomSeed1SequenceStart=0
RandomSeed2SequenceStart=1
NumberofJobs=200
BeamEnergy=4.0
IncidentEnergies=4.0 3.8 3.6 3.4 3.2 3.0 2.8 2.5 2.0
APrimeMass=0.001
NumberOfEvents=10000
PhysicsProcess=signal_W_noDecay
SampleId=4GeV-W-noDecay-Ap0.001GeV
Scope=mc21
IsEventLibrary=True
RunTimeEnvironment=LDMX-MadGraph
SimExecutable=ldmxMadGraph.sh
JobWallTime=100
JobMemory=2
JobTemplate=ldmxMadgraph-dummy.py.tpl
BatchID=Ap0.001GeV
FinalOutputDestination=SLAC_GRIDFTP
