RandomSeed1SequenceStart=20001
RandomSeed2SequenceStart=25001
NumberofJobs=5000
DetectorVersion=12
BeamEnergy=4.0
ElectronNumber=1
PhysicsProcess=inclusive_pileup
SampleId=v12-4GeV-1e-inclusive_pileup
Scope=mc20
FileName=simoutput.root
FieldMap=BmapCorrected3D_13k_unfolded_scaled_1.15384615385.dat
IsRecon=No
RunTimeEnvironment=LDMX-3.0.0
JobWallTime=200
JobMemory=2
JobTemplate=ldmxjob-1e-forPileup-3.0.0.py.tpl
BatchID=v3.0.0_1e_pileup-batch3
FinalOutputDestination=LUND_GRIDFTP
