RandomSeed1SequenceStart=10001
RandomSeed2SequenceStart=10003
NumberofJobs=2
DetectorVersion=12
BeamEnergy=4.0
ElectronNumber=1
PhysicsProcess=ecal_photonuclear
SampleId=v12-4GeV-1e-ecal_photonuclear
Scope=validation
FileName=simoutput.root
FieldMap=BmapCorrected3D_13k_unfolded_scaled_1.15384615385.dat
IsRecon=Yes
IsTriggerSkim=No
RunTimeEnvironment=LDMX-3.2.0
JobWallTime=180
JobMemory=2
JobTemplate=ldmxjob_ecalPN_3.2.0.py.tpl
BatchID=v3.2.0_ecalPN_test
FinalOutputDestination=SLAC_GRIDFTP
