RandomSeed1SequenceStart=20001
RandomSeed2SequenceStart=20101
NumberofJobs=100
DetectorVersion=14
BeamEnergy=4.0
ElectronNumber=2
PhysicsProcess=inclusive
SampleId=v14-4GeV-2e-inclusive
Scope=validation
FileName=simoutput.root
FieldMap=BmapCorrected3D_13k_unfolded_scaled_1.15384615385.dat
IsRecon=Yes
RunTimeEnvironment=LDMX-3.2.0
JobWallTime=1200
JobMemory=2
JobTemplate=ldmxjob-1e-3.2.0.py.tpl
BatchID=v3.2.0-2e-v14
FinalOutputDestination=SLAC_GRIDFTP
