RandomSeed1SequenceStart=60001
RandomSeed2SequenceStart=65001
NumberofJobs=5000
DetectorVersion=14
BeamEnergy=4.0
ElectronNumber=1
PhysicsProcess=target_photonuclear
SampleId=v14-4GeV-1e-target_photonuclear
Scope=mc23
FileName=simoutput.root
FieldMap=BmapCorrected3D_13k_unfolded_scaled_1.15384615385.dat
IsRecon=Yes
IsTriggerSkim=No
LdmxImage=LDMX_pro-3.2.10.sif
JobWallTime=80
JobMemory=2
JobTemplate=ldmxjob_targetPN_v3.2.3.py.tpl
BatchID=v3.2.10_targetPN-batch6
FinalOutputDestination=SLAC_GRIDFTP
